/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: skyblue;
  padding: 1rem;
  color: white;
}

.navbar-left h1 {
  margin: 0;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 1rem;
  position: relative;
}

.nav-links a,
.nav-links span {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover,
.nav-links span:hover {
  text-decoration: underline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:white;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #575757;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content {
  padding: 2rem;
}

h1 {
  color: #333;
}
